<% provide(:title, 'Admin') %>
<h1>מנהלן</h1>
  <ul>
    <li><%= link_to 'Add new project',  new_project_path  %></li>
    <li><%= link_to 'Manage project',   edit_project_path(4)  %></li>
    <li class='divider'> </li>
    <li><%= link_to 'ניהול משתמשים',   '#'  %></li>
   </ul>
 