<div class='row'>
  <aside class='col-md-4'>
    <section class='user_info'>
      <h3>
          <%= gravatar_for @user %>
          <%= @user.name %>
          <% if current_user.manages?(current_user_role(@user)) && !current_user?(@user) %>
            | <%= link_to 'delete', @user, method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
          <%= @user.email %> 
      </h3>
    </section>
  </aside>
</div>