<% provide(:title, 'פרוייקט חדש') %>
<h2>הקמת פרוייקט חדש</h2>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= render partial: 'project' , locals: {create: true} %>
  </div>
</div>  
