<% provide(:title, 'פרוייקט') %>

<h2>
  <%= "#{@project.name}" %>
</h2>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= render 'project' %>
  </div>
  <div class="col-md-8">
    <h4>יש <%= @project.buildings.count %> בניינים בפרוייקט</h4>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr class="heading">
            <td>פעולה</td>
            <td>זיהוי בניין</td>
            <td>כתובת</td>
          </tr>
        </thead>
        <tbody>
          <%= render @buildings %>
      </table>  </div>
</div>  
