<% provide(:title, 'Book') %>

<h2>
  ספק <%= "#{@book.name} בפרוייקט #{@project.name}" %>
</h2>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_with(model: @book, local: true) do |f| %>
      <%= render 'form' %>
    <% end %>
  </div>
</div>
