<% provide(:title, 'Building') %>
<div class="center-block">
  <h1>בניינים בפרוייקט <%= "#{@project.name}" %></h1>

  <div class="col-md-8">
    <h4>יש <%= @project.buildings.count %> בניינים בפרוייקט זה</h4>
    <div id="table-wrapper">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr class="heading">
            <th style="text-align:right">זיהוי בניין</th>
            <th style="width: 65%; text-align:right">כתובת</th>
          </tr>
        </thead>
        <tbody>
          <%= render @buildings %>
        </tbody>
      </table>
    </div>
  </div>
</div>
