<% provide(:title, 'ביניינים') %>

<h2>
  <%= "בניין #{@building.id_code} של פרוייקט #{@project.name}"  if project_set? %>
</h2>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
     זיהוי הבניין:<%= @building.id_code %><br>
     כתובת: <%= @building.address %>
  </div>
</div>  
