<% provide(:title, 'Unit') %>

<h2>
  דירה <%= "#{@unit.number} בפרוייקט #{@project.name}"  if project_set? %>
</h2>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_with(model: @unit, local: true) do |f| %>
      <%= render 'form_unit' %>
    <% end %>
  </div>
</div>
