<% provide(:title, 'Units') %>
<div class="center-block">
  <h1>דירות בפרוייקט <%= "#{@project.name}" %></h1>
 
  <div class="col-md-8">
    <h4>יש <%= @project.units.count %> דירות בפרוייקט</h4>
    <div id="table-wrapper">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr class="heading">
            <th style="text-align:right">דירה מספר</th>
            <th style="text-align:right">שטח</th>
            <th style="text-align:right">בניין</th>
            <th style="text-align:right">קומה</th>
            <th style="text-align:right">מתאריך</th>
            <th style="text-align:right">בעלים</th>
            <th style="text-align:right">דיירים</th>
          </tr>
        </thead>
        <tbody>
          <%= render @units %>
        </tbody>
      </table>
    </div>
  </div>
 </div>
