<% provide(:title, 'שנים') %>
<div class="center-block">
  <h1>שנות תקציב</h1>
 
  <div class="col-md-8">
    <div id="table-wrapper">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr class="heading">
            <th style="text-align:right">שנת תקציב</th>
            <th style="text-align:right">עלות למ'ר</th>
            <th style="text-align:right">סגור?</th>
          </tr>
        </thead>
        <tbody>
          <%= render @years%>
        </tbody>
      </table>
    </div>
  </div>
 </div>
