<% if logged_in? %>
  <% if project_set? %>
    <li><h3><% @project.name %></h3></li>
  <% end %>
  <li class='dropdown'>
    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
      <%= gravatar_for @current_user, size: 30 %>
      <span class='caret'></span>
    </a>
    <ul class='dropdown-menu' role='menu'>
      <li><%= link_to 'Edit Profile',  edit_user_path(current_user)  %></li>
      <li class='divider'></li>
      <li>
        <%= link_to(logout_path, method: :delete) do %>
          Logout <span class='glyphicon glyphicon-log-out'></span>
        <% end %>
      </li>
    </ul>
  </li>
<% else %>
  <li>
    <%= link_to(login_path) do %>
      <span class='glyphicon glyphicon-log-in'></span> Login
    <% end %>
  </li>
<% end %>